.grid-container div .prod_det, #form_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 40px;
  height: 100%;
}

#heading_productList {
  display: inline-block;
}

#h1_buttons div {
  display: inline;
  float: right;
}

#hr1 {
  margin: 0px;
}

main {
  padding-top: 30px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-column-gap: 70px;
  grid-row-gap: 45px;
  grid-auto-rows: 200px;
  padding: 10px;
}

.grid-container div {
  text-align: center;
  border: 2px solid #9799a7;
  padding: 20px 0;
}

.grid-container div .prod_det input {
  display: block;
  margin-left: 35px;
  margin-top: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
}

#hr2 {
  margin-top: 45px;
}

#form_list li {
  padding-top: 30px;
}

#form_list li label {
  width: 110px;
}

#form_list li input {
  width: 250px;
}

#form_list li select {
  cursor: pointer;
}

#form_list li #desc {
  padding-top: 10px;
}

#form_list #addingFields {
  padding-top: 0px;
  height: 30vh;
}
/*# sourceMappingURL=style.css.map */