$border-color: #9799a7
$border-color-hover: #55565e

%list-shared 
    list-style: none
    padding: 0px
    margin: 0px

    
body
    padding: 40px
    height: 100%

#heading_productList
    display: inline-block

#h1_buttons     
    div
        display: inline
        float: right

#hr1
    margin: 0px

main
    padding-top: 30px

.grid-container
    display: grid
    grid-template-columns: auto auto auto auto
    grid-column-gap: 70px
    grid-row-gap: 45px
    grid-auto-rows: 200px
    padding: 10px

    div
        text-align: center
        border: 2px solid $border-color
        padding: 20px 0

        .prod_det
            @extend %list-shared
            input
                display: block
                margin-left: 35px
                margin-top: 10px
                cursor: pointer


footer
    text-align: center

#hr2
    margin-top: 45px

#form_list
    @extend %list-shared
    li
        padding-top: 30px
        label
            width: 110px
        input
            width: 250px
        select
            cursor: pointer
        #desc
            padding-top: 10px
    #addingFields
        padding-top: 0px 
        height: 30vh
